<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Percussion Inventory</title>
  </head>
  <body>
    <h1>Percussion Inventory</h1>
    <form action="/" method="post">
        <button name="inventory" value="1">View the Inventory</button>
        <button name="edit" value="1">Edit the inventory</button>
    </form>
  </body>
</html>
